* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --main-border-radius: 20px;
  --main-text-color: white;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

video {
  width: 100%;
  height: 100%;
}

video:hover {
  cursor: pointer;
}

#survival video {
  width: 100%;
  height: 100%;
}

@keyframes bookHover {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-50px);
  }
}

@keyframes bookHoverMouse {
  from {
    transform: rotateZ(0deg) scale(1);
  }

  to {
    transform: rotateZ(360deg) scale(0.5);
  }
}

.page {
  width: 100vw;
  height: 100vh;
}

ul#navs {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  background-color: black;
  justify-content: center;
  align-items: center;
  color: white;
  height: 10%;
}

.navsLi {
  padding: 1% 5%;
  border: 1px solid green;
  box-shadow: 0 0 10px 0px green;
  border-radius: 0px;
  margin: 0px 20px;
}

.navsLi:hover {
  box-shadow: 0 0 5px;
  transform: scale(0.98);
  cursor: pointer;
}

.navsLi:active {
  transform: scale(0.9);
}

.mainContainer {
  width: 100%;
  height: 90%;
  position: relative;
}

#scoreBoard {
  position: absolute;
  display: flex;
  width: 33%;
  height: 90%;
  background-color: black;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
  list-style-type: none;
  border: 1px solid white;
  color: green;
}

#scoreBoard:hover {
  box-shadow: 0 0 5px;
}

.scoreImagesPane {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center
}

.leftScorePane {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  color: var(--main-text-color);
}

.leftScorePane:last-of-type {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-weight: normal;
  color: var(--main-text-color);
}

.scoreImg {
  width: 30%;
  height: 10%;
}

#bookImage {
  width: 20%;
  margin: auto;
  display: block;
  position: relative;
  top: 40vh;
  animation-name: bookHover;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

#bookImage:hover {
  animation-name: bookHoverMouse;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: both;
  cursor: pointer;
}

.pane {
  position: absolute;
  left: 40vw;
  top: 40vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0px;
  height: 30vh;
  border: 1px solid green;
  box-shadow: 0 0 10px 0px green;
}

.pane:hover {
  box-shadow: 0 0 7px #00BFFF;
}

.header {
  height: 5vh;
  color: #5D7A98;
  font-size: 18px;
  background-color: #FFEBB7;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#game1 {
  left: 8%;
  top: 60%;
}

#game2 {
  left: 15%;
  top: 10%;
}

#game3 {
  left: 65%;
  top: 10%;
}

#game4 {
  left: 72%;
  top: 60%;
}

.window {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.pane img {
  height: 90%;
  margin-right: 5%;
}